:root {
    --primary-color: ;
}

a {
    text-decoration: none;
    cursor: pointer;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Arial, sans-serif;
}

header {
    background-color: whitesmoke;
    width: 100%;
    height: 6.0rem;

}

header nav {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}

header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}
header nav .nav-right-section a {
    margin-right: 1.5rem;
    color: black;
}

header nav .nav-right-section .menu-icon {
    background-image: url(https://static.thenounproject.com/png/2430250-200.png);
    background-repeat: no-repeat ;
    background-position: center;
    background-size: contain ;
    cursor: pointer;
    width: 3.0rem;
    margin-left: 1.5rem;
}

header nav .nav-right-section img {
    border-radius: 50%;
    margin-left: 2rem;
}

main {
    text-align: center;
}

main .main-logo img {
    margin-bottom: 2.7rem;
    margin-top: 17.5rem;
    width: 30.5rem;
}

main .main-input .search-icon {
    background-image: url("https://images.vexels.com/media/users/3/132068/isolated/preview/f9bb81e576c1a361c61a8c08945b2c48-icono-de-b-squeda-by-vexels.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.8rem;
    height: 1.8rem;
}

main .main-input .micro-icon {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.8rem;
    height: 1.8rem;
}

main .main-input {
    width: 53rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}

main .main-input-container {
    width: 52.5rem;
    border-radius: 10rem;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;

}

main .main-input input {
    width: 45rem;
    height: 4.5rem;
    border: none;
    outline: none;
}

main .main-input-container:hover {
    box-shadow: 0 0.1rem 0.6rem 0 #20212447;
}

main .main-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0 auto;
}

main .main-buttons button{
    height: 3.6rem;
    background-color: #f8f9fa;
    border: 0;
    font-size: 14px;
    color: #1a1a1a;
    border-radius: 0.5rem;
    padding: 0 1.5rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

main .main-change-language {
    margin-top: 3.5rem;
    font-size: 14px;
}

main .main-buttons button:hover {
    border: 1px solid #c6c6c6;
}
