:root {
    --primary-color: ;
}

a {
    text-decoration: none;
    cursor: pointer;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Arial, sans-serif;
}

header {
    background-color: whitesmoke;
    width: 100%;
    height: 6.0rem;

}

header nav {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}

header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}
nav .nav-right-section a {
    margin-right: 1.5rem;
    color: black;
}

nav .nav-right-section .menu-icon {
    background-image: url(https://static.thenounproject.com/png/2430250-200.png);
    background-repeat: no-repeat ;
    background-position: center;
    background-size: contain ;
    cursor: pointer;
    width: 3.0rem;
    margin-left: 1.5rem;
}

nav .nav-right-section img {
    border-radius: 50%;
    margin-left: 2rem;
}

main {
    text-align: center;
}

main .main-logo img {
    margin-bottom: 3.5rem;
    margin-top: 17.5rem;
    width: 30.5rem;
}

.main-input .search-icon {
    background-color: blue;
    background-image: url(https://eformation.univ-grenoble-alpes.fr/theme/boost/pix/fp/search.svg);
}

main .main-input {
    width: 53rem;
    margin: 0 auto;
    margin-bottom: 35px;
}